name: lsif-go
on:
  push:
    paths:
      - '**.go'

jobs:
  lsif-go:
    # Skip running on forks
    if: github.repository == 'sourcegraph/log'
    runs-on: ubuntu-latest
    container: sourcegraph/lsif-go
    steps:
      # Setup
      - name: Checkout
        uses: actions/checkout@v3

      # Run lsif-go
      - name: Run lsif-go
        working-directory: ''
        run: lsif-go --no-animation

      # Upload lsif-go data to Cloud, Dogfood, and Demo instances
      - name: Upload lsif-go dump to Cloud
        working-directory: ''
        run: src lsif upload -github-token='${{ secrets.GITHUB_TOKEN }}' -no-progress
        env:
          SRC_ENDPOINT: https://sourcegraph.com/
      - name: Upload lsif-go dump to Dogfood
        working-directory: ''
        run: src lsif upload -github-token='${{ secrets.GITHUB_TOKEN }}' -no-progress || true
        env:
          SRC_ENDPOINT: https://k8s.sgdev.org/
      - name: Upload lsif-go dump to Demo
        working-directory: ''
        run: src lsif upload -github-token='${{ secrets.GITHUB_TOKEN }}' -no-progress || true
        env:
          SRC_ENDPOINT: https://demo.sourcegraph.com/
